<!DOCTYPE html>
<html>
<head>
<title>Collaborative Kanban</title>
</head>
<body>
<div class="container">
<h1 style="font-size: 70px;font-family:'Arial Bold';color:black;text-align:center;">Collaborative Kanban</h1>
<p style="font-size: 40px;font-family:'Arial Bold';color:black;text-align:center;"> Create a new board or join other boards.</p>

</div>


<div class="content">
<input [ngModel]="boardName" type="text" id="boardID" name="ID" placeholder="Enter a board ID here" size=21.95px><br><br>

<button (click)="passBoardIDandNavigate()" style="border-radius:5px;border-color:black;background-color:transparent;width:100px;height:50px;" type="submit">New Board</button>
&nbsp;

<!-- Routes.push({path: [ID], component: BoardPageComponent}) -->

<button (click)="passBoardIDandNavigate()" style="border-radius:5px;border-color:black;background-color:transparent;width:100px;height:50px;" type="submit" id="JOIN">Join Board</button>

</div>

<script src="./Join.js"></script>
<!-- <button onclick="location.href='//localhost:4200/Board'" style="border-radius:5px;border-color:black;background-color:transparent;width:100px;height:50px;" type="submit">New Board</button>
&nbsp;
<button onclick="location.href='//localhost:4200/Board'" style="border-radius:5px;border-color:black;background-color:transparent;width:100px;height:50px;" type="submit">Join Board</button>
</div> -->

</body>
</html>