.root { 
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

.kanban-board { 
    font-size: 28px;
    font-weight: bold;
    font-family: Rubik;
}

.has-gradient-text { 
    background: -webkit-linear-gradient(#cc2b5e, #753a88);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    // Override Automatic Minimum Size
    // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 8px 15px;
    
        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .board-wrapper { 
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns { 

            display: flex; 
            flex-direction: grow;

            margin-left: 30px; 

            .board-column { 
                display: flex; 
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                min-width: 300px; 
                max-width: 500px; 


                margin-top: 50px; 
                margin-bottom: 50px;
                margin-left: 20px;
                margin-right: 20px; 
                padding: 25px; 

                border-radius: 4px;

                background: rgba(white, 0.5);

                .column-title { 
                    font-size: 20px; 
                    font-weight: 600; 
                    margin-bottom: 20px; 
                }
            }
        }
    }
}

.task-container { 
    flex-grow: 1; 

}

.task { 

    display: flex;  
    padding: 15px 12px; 
    background: white; 
    border-bottom: solid 1px #ddd; 

    margin-bottom: 8px; 
}


